  /* in App. styled comps named AppCentered */
/* .App {
  text-align: center;
} */

.App-logo {
  height: 20vmin;
  /* weird so i'm messing with it.. was 40vmin */
  pointer-events: none; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* in App. styled comps named AppHeader */
/* .App-header {
  background-color: #282c34;
  min-height: 10vh;  */
  /* was 100vh- im messing around with the presets */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


/* in App  */
/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* from vid */
/* input.inputBox{
  font-size: 20px;
  padding: 5px 1px 4px 8px;
  border-radius: 3px;
  border: 1px solid #666;
} */

.calendarWrap{
  display: inline-block;
  position: relative;
}

.calendarElement{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}